
.colordashboard{
    background-color: rgb(198, 227, 253);
    margin: 0;
    border-radius: 0%;
    display: grid;
    justify-content: center;
}
.colorDashTitle{
    font-size: 35px;
    font-weight: bold;
    color: rgb(5, 98, 179);
    padding: 10px 0 10px 20px;
    /* border-bottom: 2px solid grey; */
    margin-bottom: 15px;
    text-align: center;
}
.colorexample{
    border: 1px solid black;
    height: 40px;
}