.borderDiv{
    display: grid;
    justify-content: center;
    background-color: rgb(198, 227, 253);
}
.borderDashTitle{
    font-size: 35px;
    font-weight: bold;
    color: rgb(5, 98, 179);
    padding: 10px 0 10px 20px;
    /* border-bottom: 2px solid grey; */
    margin-bottom: 15px;
    text-align: center;
}
.borderelement{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: inherit;
    width: 70vw;
}