.ButtonDiv{
    /* border: 1px solid black; */
    display: grid;
    justify-content: center;
    /* height: 85vh; */
    padding-bottom:13vh ;
    background-color: rgb(198, 227, 253);
}
.btndash{
    /* border: 1px solid black; */
    font-size: 35px;
    font-weight: bold;
    color: rgb(5, 98, 179);
    padding: 10px 0 10px 20px;
    /* border-bottom: 2px solid grey; */
    margin-bottom: 15px;
    text-align: center;
    
}

.btn-circle{
    /* border: 10px solid black; */
    border-radius: 50%;
    margin-left: 5px;
    
}

.circlebtn{
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 70vw;
    background-color: rgb(237, 245, 252);
}
.btncontent{
    /* border: 1px solid black; */
    margin: 5px;
    padding: 5px;
}

.btntitle{
    font-size: 20px;
    font-weight: bold;
    color: rgb(5, 98, 179);
    padding: 10px 0 10px 0;
    border-bottom: 2px solid grey;
    margin-bottom: 5px;
}